// Colours

$body: #4caf50;
$primary: #087f23;
$secondary: #80e27e;
$accent: #ffea00;

$darkGrey: #222;
$mediumGrey: #4a4a4a;
$lightGrey: #6e6e6e;

$lightText: #fff;

// Typography

* {
	font-family: 'Lato', sans-serif;
}


.bold {
	font-weight: 700;
}

body {
	background-color: $lightText;
}

h1 {
	margin: 0;
	display: inline-block;
	color: $lightText;
	font-weight: 700;
	font-size: 24px;
	position: absolute;
}

h3 {
	margin: 0;
	color: $lightText;
	font-size: 26px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.20)
}

ul {
	list-style-type: none;
}

.fa {
	text-shadow: 0px 1px 2px rgba(0,0,0,0.20)
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

