// Colours

$body: #4caf50;
$primary: #087f23;
$secondary: #80e27e;
$accent: #ffea00;

$darkGrey: #222;
$mediumGrey: #4a4a4a;
$lightGrey: #6e6e6e;

$lightText: #fff;


// MQs

@mixin respond-to($breakpoint) {
	@if $breakpoint == "smallPhone" {
		@media (max-width: 320px) {
			@content;
		}
}

	@else if $breakpoint == "phone" {
		@media (max-width: 500px) {
			@content;
		}
}

	@else if $breakpoint == "tablet" {
		@media (max-width: 880px) {
			@content;
		}
	}

	@else {
		@media ($breakpoint) {
			@content;
		}
	}
}

// Typography

* {
	font-family: 'Lato', sans-serif;
}


h1 {
	margin: 0;
	display: inline-block;
	color: $lightText;
	font-weight: 700;
	font-size: 28px;
	// position: absolute;
	padding: 0px 0px 30px 30px
}

h3 {
	margin: 0;
	color: $lightText;
	font-size: 26px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.20)
}

// Other Globals 

.bold {
	font-weight: 700;
}

body {
	background-color: $lightText;
}

ul {
	list-style-type: none;
}

.fa {
	text-shadow: 0px 1px 2px rgba(0,0,0,0.20)
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}